* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* 16px * 62.5% = 10px = 1rem */
}

body {
  height: 100vh;
  font: 1.6rem Helvetica, Arial;
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #f08040;
}

button {
  font: 1rem helvetica;
  padding: 1rem;
  border: 0.1rem solid #808080;
  border-radius: 0.5rem;
}

button:hover {
  border: 0.1rem solid #404040;
  cursor: pointer;
}

button.primary {
  background-color: #f0c040;
}

.fw {
  width: 100%;
}

.success {
  color: #40c040;
}

.error {
  color: #c04040;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

header a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

header a:hover {
  color: #f08040;
}

.brand a {
  font-size: 3rem;
}

footer {
  background-color: #203040;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

/* === Products === */
.products {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.products li {
  flex: 0 1 30rem;
  margin: 1rem;
  height: auto;
  border: 0.2rem solid #e0e0e0;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.product img {
  max-height: auto;
  max-width: 100%;
  /*margin-top: 2rem;*/
}

.product-name {
  padding: 1rem;
  line-height: 2.2rem;
}

.product-brand {
  padding-left: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: #808080;
}

.product-price {
  padding: 1rem;
  font-weight: bold;
  font-size: 2rem;
  color: #f08040;
}

/* Rating */
.rating {
  color: #ffc000;
  font-size: 1.8rem;
}

.rating span:last-child {
  color: #444444;
  font-size: 1.4rem;
}

.content {
  padding: 1rem;
}

/*  Product Details  */
.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.details-image {
  flex: 2 1 60rem;
}

.details-image img {
  max-width: 60rem;
  width: 100%;
}

.details-info,
.details-action {
  flex: 1 1 30rem;
}

.details-info ul,
.details-action ul {
  padding: 0;
  list-style-type: none;
}

.details-info h1 {
  font-size: 2rem;
  margin: 0;
}

.details-info li,
.details-action li {
  margin-bottom: 1rem;
}

.details-action {
  border: 0.1rem solid #808080;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  padding: 1rem;
}